@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Sora:wght@100..800&display=swap");

:root {
  --primary-color: #1a1a19;
  --secundary-color: #f5f5f7;
  --primary-font: "Sora", sans-serif;
  --secundary-font: "Merriweather", serif;
}

html,
body,
#menu {
  width: 100%;
  height: 100%;
  font-family: var(--primary-font);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
  font-size: 20px;
  line-height: 1.5;
}

#menu {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#titulo {
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center;
  color: var(--secundary-color);
  margin-bottom: 30px;
}

#container-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#container-inputs > select {
  font-size: 0.7rem;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  font-family: var(--secundary-font);
}

#container-inputs > select:nth-of-type(1) {
  margin-bottom: 10px;
}

#container-inputs > select:nth-of-type(2) {
  margin-bottom: 50px;
}

#container-inputs > button {
  background-color: var(--secundary-color);
  color: var(--primary-color);
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--secundary-font);
  font-size: 1rem;
}

#container-ra {
  width: 100%;
  height: 100%;
  display: none;
}

#botao-voltar {
  position: absolute;
  top: 5%;
  left: 10%;
  background-color: var(--secundary-color);
  font-family: var(--secundary-font);
  font-size: 0.7rem;
  padding: 5px 15px;
  z-index: 1;
  border: 0;
  border-radius: 5px;
}

#container-info {
  color: var(--secundary-color);
  position: absolute;
  left: 10%;
  top: 13%;
  max-width: 80%;
  font-family: var(--secundary-font);
}

#container-titulo {
  position: relative;
}

#tooltip {
  color: var(--secundary-color);
  fill: currentColor;
  display: inline-block;
  position: absolute;
  top: 70%;
  right: 2%;
}

#tooltip-texto {
  width: 250px;
  background-color: var(--primary-color);
  color: var(--secundary-color);
  text-align: left;
  border-radius: 6px;
  padding: 30px;
  position: absolute;
  font-size: 0.8rem;
  z-index: 1;
  display: none;
  right: -20%;
  border-radius: 5px;
  box-shadow: 0 0 70px rgba(0, 0, 0, 1);
  font-family: var(--secundary-font);
}

#tooltip-texto > a {
  color: var(--secundary-color);
}

#realce-propriedade-texto {
  font-size: 1.2rem;
  font-weight: 600;
}

#aviso-celular {
  font-size: 1.2rem;
  color: red;
  display: none;
  font-family: var(--secundary-font);
}
